# git ignore files and floders

# mac store
package-lock.json
.DS_Store
**/.DS_Store

# node libs
/node_modules

# config
/config/config.js
/config/env.js

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*


