/*
	intro : node different settings
	Author : chenchao
	Date : 2019-03-29
*/

const NODE_ENV = process.env.NODE_ENV || 'develop' ;

const config = {
	NODE_ENV
} ;
switch (NODE_ENV) {
	case "production" : // 线上配置
		Object.assign(config , {
			host : '188.131.238.88'
		}) ;
		break ;
	case "develop" : 		// 开发环境配置
	default :
		Object.assign(config , { 
			host : '10.252.187.153'
		}) ;
		break ;
} ;
module.exports = config ;







